*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    background: url('fundo.jpg') no-repeat center center fixed;
    color: #3eb489;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #dcdcdc;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
label{
    font-size: 20px;
    margin-bottom: 5px;
}
button{
    padding: 8px 30px;
    margin: 20px;
    border-radius: 10px;
}