*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  color:#3eb489;
  background-color: #f0f2f5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('fundo.jpg') no-repeat center center fixed;
  
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 450px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 25px;
  border-radius: 18px;
  border: 1px solid #dcdcdc;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  padding: 10px;
}

label{
  font-size: 20px;
  margin-bottom: 5px;
  
}
button{
  padding: 8px 30px;
  margin: 20px;
  border-radius: 10px;
}